.heading{
    font-family: 'Architects Daughter', cursive;
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    margin-top: 15px;
}
.jobs{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.jobIcon{
    display: flex;
    justify-content: center;
    position: relative;
}
.hint{
    position: absolute;
    top: 8px;
    right: 5vw;
}
.hintText{
    font-family: 'Architects Daughter', cursive;
    font-size: 12px;
}
.hintIcon{
    width: 20px;
}
.jobItem{
    margin-bottom: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.techList{
    margin-top: 10px;
}
.techIcon{
    margin-left: 5px;
    width: 20px;
}
.subText{
    font-size: 20px;
    font-weight: 600;
    margin-top: 15px;
    font-family: 'Architects Daughter', cursive;
}
.technologyItem{
    margin-top: 3px;
    margin-bottom: 3px;
    display: flex;
    align-items: center;
}
.technology{
    font-family: 'Architects Daughter', cursive;
    color: black;
}
.paper{
    background: #b1d5ef;
}

.ilonaLogo{
    font-size: 25px;
    font-family: 'Architects Daughter', cursive;
    color: #9c27b0;
    line-height: 35px;
}

.footerItem{
    font-family: 'Architects Daughter', cursive;
    font-size: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: black;
}

@media (min-width: 993px) {
    .jobs{
        margin-top: 20px;
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .jobItem{
        width: 400px;
        margin: 20px;
        padding: 15px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}